#Windows
Thumbs.db
ehthumbs.db
Desktop.ini

#Java
*.class
*.war
*.ear

#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next
release.properties

#idea
.idea/
*.iml

#log
*.log
*.log.*

#eclipse
.settings/
.externalToolBuilders/
.classpath
.project
.tomcatplugin
.mymetadata

#SVN
*.svn*

#package
*.gz
*.zip
package/

#cache
.cache*

~*
.vertx/

config/adwiser/
config/bs/
config/rtb/